In [51]:
import pandas as pd
import seaborn as sns

In [53]:
rdata = pd.read_csv('../data/syrian-refugee-counts.csv')

# as1 = rdata.Refugees != '*'
# as2 = rdata.AsylumSeekers != '*'
# rdata = rdata[as1 & as2]

rdata['Refugees'] = rdata['Refugees'].astype(float)
rdata['AsylumSeekers'] = rdata['AsylumSeekers'].astype(float)

# pad with 0s
rdata = rdata.fillna(0)
rdata['T'] = rdata['Refugees'] + rdata['AsylumSeekers']

# only use subset
rdata = rdata[['Destination', 'T', 'Year']]

In [54]:
d = set(rdata.Destination)
y = set(rdata.Year)
p = pd.MultiIndex.from_product([d,y], names=['destinations', 'year'])
rdata.reindex(p)
rdata.head(5)

  Destination     T  Year
0     Lebanon  1200  1968
1     Lebanon  1200  1969
2     Lebanon   500  1979
3       Italy     2  1980
4     Lebanon   500  1980

In [55]:
pop = pd.read_csv('../data/demographics-wb.csv')
pop = pop[['Country Name',  '2011', '2012', '2013','2014']]
pop.columns = ['Destination', '2011_pop', '2012_pop', '2013_pop', '2014_pop']

In [56]:
# Find top10
r = rdata
r = r.drop(['Year'], 1)
g = r.groupby('Destination').sum()
top10 = g.sort('T', ascending=False).head(10)
top10

                     T
Destination
Turkey         2393091
Lebanon        2134927
Jordan         1452322
Iraq            528157
Egypt           283099
Germany         256993
Sweden          137136
Netherlands      51502
Libya            39428
United States    34247

In [57]:
rd = rdata[rdata['Year'] > 2010]
d_pivot = pd.pivot_table(rd, columns=['Destination', 'Year'], values=['T'])
df = d_pivot.unstack()
# to output:
df.reset_index().to_json(orient='records', path_or_buf='../app/src/data/stats.json')

In [72]:
rfs = df.reset_index()
rfs = rfs.merge(pop, on='Destination', how='left')
rfs['rate_avg'] = rfs[2014] / rfs['2014_pop']
rfs = rfs.sort(2014, ascending=0)
rfs.columns = ['level_0', 'Destination', 'ref_2011', 'ref_2012', 'ref_2013', 'ref_2014', 'pop_2011',
       'pop_2012', 'pop_2013', 'pop_2014', 'rate_avg']
rfs.head()

,level_0,Destination,ref_2011,ref_2012,ref_2013,ref_2014,pop_2011,pop_2012,pop_2013,pop_2014,rate_avg
125,T,Turkey,224.0,248666,585711,1558149.0,73058638,73997128,74932641,75837020,0.020546
62,T,Jordan,2811.0,239289,585304,623112.0,6181000,6318000,6460000,6607000,0.094311
68,T,Lebanon,245.5,127181,851615,573955.5,4382790,4424888,4467390,4510301,0.127254
56,T,Iraq,1714.0,64771,213973,235421.0,31760020,32578209,33417476,34278364,0.006868
41,T,Egypt,94.0,12836,131659,138381.0,79392466,80721874,82056378,83386739,0.001660

In [73]:
rfs.sort('ref_2014', ascending=0).to_json(orient='records', path_or_buf='../app/src/data/stats.json')

In [76]:
rfs[:5]['ref_2014'].sum() / rfs['ref_2014'].sum()

0.92322523243142129

In [77]:
rfs[:5]['ref_2014'].sum()

3129018.5

0.9232252324314213

In [75]:
 rfs[:5]['ref_2014'].sum() / rfs['ref_2014'].sum()

0.92322523243142129

In [49]:
rdata = pd.read_csv('../data/syrian-refugee-counts.csv')

# rdata[rdata.Refugees == '*']['Refugees'] = ""
# rdata[rdata.AsylumSeekers == '*']['AsylumSeekers'] = "0"

rdata['Refugees'] = rdata['Refugees'].astype(float)
rdata['AsylumSeekers'] = rdata['AsylumSeekers'].astype(float)

In [50]:
rdata[rdata['Year'] == 2014].sort(['Refugees'], ascending=0)

,Year,Destination,Origin,Refugees,AsylumSeekers,ReturnedRefugees,IDPs,ReturnedIDPs,StatelessPersons,Others,Total
1326,2014,Turkey,Syrian Arab Rep.,1557899,250,NaN,NaN,NaN,NaN,NaN,1558149
1272,2014,Lebanon,Syrian Arab Rep.,1147494,417,NaN,NaN,NaN,NaN,NaN,1147911
1264,2014,Jordan,Syrian Arab Rep.,623112,NaN,NaN,NaN,NaN,NaN,NaN,623112
1259,2014,Iraq,Syrian Arab Rep.,234196,1225,NaN,NaN,NaN,NaN,NaN,235422
1242,2014,Egypt,Syrian Arab Rep.,138381,NaN,NaN,NaN,NaN,NaN,NaN,138381
1236,2014,Germany,Syrian Arab Rep.,40994,29591,NaN,NaN,NaN,NaN,NaN,70585
1319,2014,Sweden,Syrian Arab Rep.,34285,19011,NaN,NaN,NaN,NaN,NaN,53296
1275,2014,Libya,Syrian Arab Rep.,18653,NaN,NaN,NaN,NaN,NaN,NaN,18653
1210,2014,Armenia,Syrian Arab Rep.,14994,9,NaN,NaN,NaN,NaN,NaN,15003
1295,2014,Netherlands,Syrian Arab Rep.,8692,2323,NaN,NaN,NaN,NaN,NaN,11015
1216,2014,Bulgaria,Syrian Arab Rep.,8501,2510,NaN,NaN,NaN,NaN,NaN,11011
1238,2014,Denmark,Syrian Arab Rep.,7253,1468,NaN,NaN,NaN,NaN,NaN,8721
1224,2014,Switzerland,Syrian Arab Rep.,5161,3501,NaN,NaN,NaN,NaN,NaN,8662
1330,2014,United States,Syrian Arab Rep.,4750,2302,NaN,NaN,NaN,NaN,NaN,7052
1249,2014,United Kingdom,Syrian Arab Rep.,4572,1329,NaN,NaN,NaN,NaN,NaN,5901
1252,2014,Greece,Syrian Arab Rep.,3913,182,NaN,NaN,NaN,NaN,NaN,4095
1247,2014,France,Syrian Arab Rep.,2882,1239,NaN,NaN,NaN,NaN,NaN,4121
1213,2014,Austria,Syrian Arab Rep.,2748,NaN,NaN,NaN,NaN,NaN,NaN,2748
1215,2014,Belgium,Syrian Arab Rep.,2620,733,NaN,NaN,NaN,NaN,NaN,3353
1296,2014,Norway,Syrian Arab Rep.,2568,828,NaN,NaN,NaN,NaN,NaN,3396
1332,2014,Yemen,Syrian Arab Rep.,2276,1039,NaN,NaN,NaN,NaN,NaN,3315
1310,2014,Russia,Syrian Arab Rep.,1927,413,NaN,NaN,NaN,NaN,NaN,2340
1220,2014,Brazil,Syrian Arab Rep.,1739,76,NaN,NaN,NaN,NaN,NaN,1815
1234,2014,Cyprus,Syrian Arab Rep.,1451,1109,NaN,NaN,NaN,NaN,NaN,2560
1243,2014,Spain,Syrian Arab Rep.,1336,781,NaN,NaN,NaN,NaN,NaN,2117
1309,2014,Romania,Syrian Arab Rep.,1278,114,NaN,NaN,NaN,NaN,NaN,1392
1262,2014,Italy,Syrian Arab Rep.,1144,331,NaN,NaN,NaN,NaN,NaN,1475
1288,2014,Malta,Syrian Arab Rep.,1047,34,NaN,NaN,NaN,NaN,NaN,1081
1312,2014,Sudan,Syrian Arab Rep.,797,238,NaN,NaN,NaN,NaN,NaN,1035
1223,2014,Canada,Syrian Arab Rep.,705,184,NaN,NaN,NaN,NaN,NaN,889
...,...,...,...,...,...,...,...,...,...,...,...
1230,2014,Colombia,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
1233,2014,Curaçao,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,2014,Djibouti,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1239,2014,Dominican Rep.,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1240,2014,Algeria,Syrian Arab Rep.,NaN,4108,NaN,NaN,NaN,NaN,NaN,4108
1245,2014,Ethiopia,Syrian Arab Rep.,NaN,8,NaN,NaN,NaN,NaN,NaN,8
1248,2014,Gabon,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1253,2014,"China, Macao SAR",Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1261,2014,Israel,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1263,2014,Jamaica,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1267,2014,Kenya,Syrian Arab Rep.,NaN,5,NaN,NaN,NaN,NaN,NaN,5
1269,2014,Cambodia,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1273,2014,Lebanon,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992
1276,2014,Saint Lucia,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,2014,Sri Lanka,Syrian Arab Rep.,NaN,5,NaN,NaN,NaN,NaN,NaN,8
1282,2014,"Macao SAR, China",Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1289,2014,Montenegro,Syrian Arab Rep.,NaN,36,NaN,NaN,NaN,NaN,NaN,36
1290,2014,Mongolia,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1297,2014,Nepal,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1298,2014,Nauru,Syrian Arab Rep.,NaN,5,NaN,NaN,NaN,NaN,NaN,5
1304,2014,Papua New Guinea,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1313,2014,Senegal,Syrian Arab Rep.,NaN,21,NaN,NaN,NaN,NaN,NaN,21
1314,2014,Somalia,Syrian Arab Rep.,NaN,63,NaN,NaN,NaN,NaN,NaN,63
1316,2014,S. Sudan,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1320,2014,Syrian Arab Rep.,Syrian Arab Rep.,NaN,NaN,NaN,7632500,NaN,160000,NaN,7792500
1322,2014,Togo,Syrian Arab Rep.,NaN,6,NaN,NaN,NaN,NaN,NaN,6
1327,2014,Uganda,Syrian Arab Rep.,NaN,13,NaN,NaN,NaN,NaN,NaN,14
1331,2014,Venezuela (Bolivarian Republic of),Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,2014,Zambia,Syrian Arab Rep.,NaN,9,NaN,NaN,NaN,NaN,NaN,11
1335,2014,Zimbabwe,Syrian Arab Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN